*.db
*.data
*.class
quine-*.jar
novelty-*.jar

# local settings
.java-version
.jvmopts
local.sbt
local.conf
**/secret.conf

# bloop and metals
.bloop
.bsp

# metals
project/metals.sbt
.metals

# vs code
.vscode

# sbt
project/project/
project/target/
target/
.sbtopts

# eclipse
build/
.classpath
.project
.settings
.worksheet
bin/
.cache

# intellij idea
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# python test
public/quine/src/test/resources/ingest_test_script/venv/

# vim
*.swp
*.swo
