.md-typeset h1 {
    font-weight: 500 !important;
    color: #003b94 !important;
}

.md-typeset h2 {
    font-weight: 400 !important;
    color: #003b94 !important;
}

.md-typeset a {
    color: #003b94 !important; 
}

.features-grid {
    margin-top: 60px;
    margin-bottom: 40px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr auto auto auto;
    grid-template-rows: 1fr 1fr auto auto auto;
}

.feature-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 #eceef8;
    border: 1px solid #eee;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    font-size: 18px;
}

.bottom-margin-20px {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    margin-bottom: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.h3-small {
    display: block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
}

.feature-icon {
    width: 60px;
    height: 60px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 10px;
    background-color: #003b94;
}

.feature-icon.icon1, .feature-icon.icon2, .feature-icon.icon3, .feature-icon.icon4,
.feature-icon.icon5, .feature-icon.icon6, .feature-icon.icon7, .feature-icon.icon8,
.feature-icon.icon9, .feature-icon.icon10 {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    background-color: #abd7ff;
    background-position: 50% 50%;
    background-size: 30px;
    background-repeat: no-repeat;
}

.feature-icon.icon1 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d560868803f4_combine.svg");
}

.feature-icon.icon2 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d5967c8803ed_Scale%20icon%202.svg");
}

.feature-icon.icon3 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d5ea008803ec_category%202.svg");
}

.feature-icon.icon4 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d5113b8803f5_data%20storage%20icon%202.svg");
}

.feature-icon.icon5 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d52bff8803f8_data%20model%202.svg");
}

.feature-icon.icon6 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d50c6a8803ea_graph%20calculation%202.svg");
}

.feature-icon.icon7 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d5b7b98803f3_History%20icon%203.svg");
}

.feature-icon.icon8 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d5263a8803ee_automation%20icon%203.svg");
}

.feature-icon.icon9 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d569a68803fc_disorder%20icon%202.svg");
}

.feature-icon.icon10 {
    background-image: url("https://assets.website-files.com/61d5ee2c68a4d5d61588037b/61d5ee2c68a4d5021f8803f1_algorithm%20icon%202.svg");
}

/* TODO: icons backgrounds */

.testimonial-grid {
    margin-bottom: 100px;
    margin-top: 100px;
    grid-column-gap: 90px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.testimonial-client {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
}

.testimonial-client-profession {
    width: auto;
    height: auto;
    color: #409aed;
    font-size: 18px;
    line-height: 1.5;
}

.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.centered {
    text-align: center;
}

.timeline-wrapper {
    width: auto;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
}

.process-row {
    display: block;
    width: 100%;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-left: 1px solid #a7d1ff;
}

.process-row.last-row {
    border-left-style: dashed;
    border-left-color: transparent;
}

.process-col-right {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 40px;
    padding-left: 50px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-left: 2px none #d4d6df;
}

.process-col-right.different {
    padding-bottom: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.process-icon-wrapper {
    position: absolute;
    left: 0%;
    top: 20px;
    right: auto;
    bottom: auto;
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -1px;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #abd7ff;
    -webkit-transform: translate(-50%, -25px);
    -ms-transform: translate(-50%, -25px);
    transform: translate(-50%, -25px);
    text-align: center;
    font-size: 25px;
    color: #fff;
}

.process-icon-wrapper p {
    text-align: center;
    margin: 0 !important;
    padding-top: 7px;
    font-weight: bold;
}

.process-icon-wrapper.icon1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3f9aec), color-stop(51%, #38b3e9), to(#6ed4ec));
    background-image: linear-gradient(180deg, #3f9aec, #38b3e9 51%, #6ed4ec);
}

.process-icon-wrapper.icon2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9682ff), to(#2d55e4));
    background-image: linear-gradient(180deg, #9682ff, #2d55e4);
}

.process-icon-wrapper.icon3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d676d7), to(#856dec));
    background-image: linear-gradient(180deg, #d676d7, #856dec);
}

.process-icon-wrapper.icon4 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eb6fcf), to(#f84877));
    background-image: linear-gradient(180deg, #eb6fcf, #f84877);
}

.process-text-block {
    width: 350px;
    margin-left: 0px;
}

.process-code-block {
  width: 60%;
  margin-left: 60px;
}

@media screen and (max-width: 991px) {
  .process-code-block {
    width: auto;
    margin-left: 16px;
  }
}

.event-grid {
    display: -ms-grid;
    display: grid;
    padding-top: 40px;
    padding-right: 5px;
    padding-left: 5px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.md-source__facts {
    visibility: hidden;
}
