/** Hyperlinks in main page content **/

/*
[data-md-color-primary="thatdot-blue"] .md-typeset a, [data-md-color-primary="thatdot-blue"] .md-nav__link:active, [data-md-color-primary="thatdot-blue"] .md-nav__link--active {
  text-decoration: underline;
}
*/

/** Material theme override */

button[data-md-color-accent="quine-blue"],
[data-md-color-accent="quine-blue"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="quine-blue"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="quine-blue"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="quine-blue"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="quine-blue"] .md-source-file:hover::before {
  background-color: #003b94;
}

[data-md-color-accent="quine-blue"] .md-typeset a:hover,
[data-md-color-accent="quine-blue"] .md-typeset a:active,
[data-md-color-accent="quine-blue"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="quine-blue"] .md-typeset .md-clipboard:active::before,
[data-md-color-accent="quine-blue"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="quine-blue"] .md-typeset .footnote li:target .footnote-backref,
[data-md-color-accent="quine-blue"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="quine-blue"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="quine-blue"] .md-typeset [id] .headerlink:focus,
[data-md-color-accent="quine-blue"] .md-nav__link:focus,
[data-md-color-accent="quine-blue"] .md-nav__link:hover {
  color: #003b94;
}

[data-md-color-accent="quine-blue"] .md-search-result__link[data-md-state="active"],
[data-md-color-accent="quine-blue"] .md-search-result__link:hover {
  background-color: rgba(121, 128, 137, 0.1);
}

.md-footer-nav {
  background-color: #1e609d;
}

.footer {
  overflow: hidden;
  padding: 20px 5% 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e609d), to(#003b94));
  background-image: linear-gradient(180deg, #1e609d, #003b94);
}

.footer-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-list {
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
}

.footer-list-item {
  margin-bottom: 5px;
  color: #fff;
  padding-left: 0;
  list-style: none;
}

.h3-footer {
  color: #fff;
  font-size: 20px;
}

.footer-link {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.footer-link:hover {
  color: #6ed4ec;
}

.footer-link.margin-right-20px {
  margin-right: 20px;
}

.footer-social-links {
  display: none;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer-social-link {
  margin-right: 16px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.footer-social-link:hover {
  color: #6ed4ec;
}

.footer-legal-grid {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 60px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.copyright-text {
  color: rgba(253, 254, 254, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.footer-logo-link {
  max-width: 160px;
}

.footer-logo-link.w--current {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.footer-logo-link.w--current:hover {
  opacity: 0.6;
}

@media screen and (max-width: 991px) {

  .footer-list {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .footer-list-2 {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .footer-list-2.footer-extra {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0%;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

}

@media screen and (max-width: 767px) {

  .footer-columns {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .footer-list {
    margin-right: 0px;
    margin-left: 0px;
  }

  .footer-social-links {
    margin-top: 40px;
    margin-bottom: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-legal-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .copyright-text {
    margin-top: 40px;
  }

}

@media screen and (max-width: 479px) {

  .footer-columns {
    grid-template-areas: ". ."
      ". ."
      ". Area";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-list {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 16px;
  }

  .footer-link {
    font-size: 18px;
  }

  .footer-social-links {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-social-link {
    font-size: 18px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-heading {
    margin-top: 20px;
  }

}
