<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--
             %date defaults to RFC 3339 datetime, which is almost the same as ISO 8601 except that the latter uses "T" to
             separate the date and time, while RFC3339 allows any separator - Logback uses a single space ' '
            -->
            <pattern>%date %level [%mdc{akkaSource:-NotFromActor}] [%thread] %logger - %msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.thatdot" level="${thatdot.loglevel:-OFF}"/>
    <root level="${root.loglevel:-OFF}">
        <appender-ref ref="console"/>
    </root>

</configuration>
